.title {
  font-weight: 700;
  font-size: 22px;
}

.summaryList {
  margin-top: 10px;
}

.shortContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 5px 50px 5px 5px;
  align-items: center;
}

.shortContainer:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.12);
}

.time {
  margin-left: 5px;
  margin-right: 50px;
  font-size: 14px;
  font-weight: 700;
  width: 60px;
}

.goldPenalty {
  display: flex;
  color: #722929;
  font-weight: 600;
  width: 60px;
}

.respawnTime {
  display: flex;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  width: 60px;
}

.goldIcon {
  padding-top: 3px;
  display: inline-block;
  margin-right: 8px;
}

.clockIcon {
  padding-top: 3px;
  display: inline-block;
  margin-right: 8px;
}

.damageSummaryLine {
  display: inline-block;
  margin-right: 50px;
  min-width: 300px;
  position: relative;
}

.damageTypeFullLine,
.damageFullLine {
  display: flex;
  border-radius: 6px;
  width: 300px;
  overflow: hidden;
}

.damageFullLine {
  position: absolute;
}

.damageSummaryLine,
.damageTypeFullLine,
.damageFullLine,
.damageSubLine {
  height: 8px;
}

.heroIconsLine {
  position: absolute;
  display: flex;
  width: 300px;
  height: 20px;
  bottom: -50%;
}

.heroIconSubLine {
  text-align: center;
}

.expandedContainer {
  padding-top: 5px;
}

.deathSummaryHeroEntry {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 5px;
  width: 70%
}

.damageBreakdownFull {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 79%;
}

.damageBreakdownShort {
  display: flex;
  align-items: center;
}

.portrait {
  position: relative;
  width: 68px;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
}

.damageBreakdownEntries {
  display: flex;
}

.damageBreakdownEntry {
  display: flex;
  align-items: center;
  font-weight: 600;
  width: 80px;
}

.damageBreakdownEntryIcon {
  border-radius: 6px;
  overflow: hidden;
  margin-right: 3px;
}

.physical {
  color: #ad1a1a;
}

.magical {
  color: #4d7bb9;
}

.pure {
  color: #d98d04;
}

.damageBreakdownTotal {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 600;
}

.verticalLine {
  border-left: thin solid rgba(255, 255, 255, 0.5);
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
}

.goldEarning {
  display: flex;
  padding-top: 5px;
  font-weight: 600;
  color: gold;
}
