.title {
  font-weight: 700;
  font-size: 22px;
}

.summaryList {
  margin-top: 10px;
}

.shortContainer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 5px;
  align-items: center;
}

.time {
  margin-left: 5px;
  margin-right: 50px;
  font-size: 14px;
  font-weight: 700;
}

.goldPenalty {
  display: flex;
  color: #AA0000;
  font-weight: 700;
}

.goldIcon {
  padding-top: 3px;
  display: inline-block;
  margin-right: 8px;
}

.damageSummaryLine {
  margin-right: 50px;
}

.damageTypeFullLine,
.damageFullLine {
  display: flex;
  border-radius: 6px;
  width: 300px;
  overflow: hidden;
}

.damageFullLine {
  margin-bottom: 5px;
}

.damageTypeFullLine,
.damageFullLine,
.damageSubLine {
  height: 8px;
}

.heroIconsLine {
  display: flex;
  width: 300px;
  height: 20px;
}

.heroIconSubLine {
  text-align: center;
}