.app {
  text-align: center;
  background-color: #000000;
  font-size: 20px;
  color: white;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono Light'
}

.input {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

ul {
  list-style-type: none;
}