.observer {
  color: #ffff85
}

.smoke {
  color: purple
}

.bkb {
  color: gold
}

.essence-ring {
  color: lightgreen
}

.guardian-greaves {
  color: lightseagreen;
}

.mekansm {
  color: lightblue
}

.glimmer-cape {
  color: cornflowerblue;
}

.lotus-orb {
  color: #c8234b
}

.eul\'s-scepter {
  color: #6bb8ad;
}

.wind-waker {
  color: #c8dee8;
}

.force-staff {
  color: #84e6bd;
}

.hurricane-pike {
  color: #ab4e4f;
}

.manta-style {
  color: #8cb7d5;
}

.satanic {
  color: #51170d;
}

.bloodstone {
  color: #d91d23;
}

.eternal-shroud {
  color: #7da4aa;
}

.blade-mail {
  color: #726c68;
}

.crimson-guard {
  color: #c38a29;
}

.hood-of-defiance {
  color: #74484a;
}

.trickster-cloak {
  color: #7ea379;
}

.pipe-of-insight {
  color: #c8cd86;
}