.observer {
  color: #ffff85
}

.smoke {
  color: purple
}

.bkb {
  color: gold
}

.essence-ring {
  color: lightgreen
}

.guardian-greaves {
  color: lightseagreen;
}

.mekansm {
  color: lightblue
}

.glimmer-cape {
  color: cornflowerblue;
}