.green {
  color: green
}

.red {
  color: red
}

.yellow {
  color: yellow
}

.lightgreen {
  color: lightgreen
}

.analysis {
  padding-top: 20px;
}

.heroName {
  text-shadow: 0 0 5px #ffffff;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 15px));
  grid-gap: 30px 30px;
  align-items: start;
  padding: 0;
}

.analysisTitle {
  text-align: center;
}

.intelligence {
  color: skyblue
}

.gray {
  color: gray
}

.team0 {
  color: green
}

.team1 {
  color: red
}