.container {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 6px;
  padding: 15px;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

.entries {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 6px;
  padding: 15px;
}

.time {
  text-shadow: 0 0 4px #ffffff;
  font-size: 12px;
  margin-right: 10px;
}

.lane {
  font-weight: bold;
}

.entry {
  display: flex;
  align-items: center;
}

.item {
  font-weight: bold;
  margin-inline: 5px;
}

.dire {
  color: red;
  font-weight: bold;
}

.radiant {
  color: green;
  font-weight: bold;
}