.title {
  font-size: 30px;
  font-weight: 600;
}

.outcome {
  font-size: 26px;
  font-weight: 600;
}

.radiant {
  color: rgba(0, 255, 0, 0.6);
}

.dire {
  color: rgba(255, 0, 0, 0.8);
}

.centered {
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
}

.stratz {
  text-align: right;
  margin-left: auto;
  padding-top: 10px;
}
