.preview {
  display: flex;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 8px;
  min-height: 50px;
  width: 100%;
  align-items: center;
  padding-inline: 16px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.09);
}

.preview:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.heroWin,
.heroLose {
  font-size: 18px;
  margin-left: 4px;
}

.heroWin {
  color: rgba(0, 255, 0, 0.4);
}

.heroLose {
  color: rgba(255, 0, 0, 0.6);
}

.portrait {
  position: relative;
  width: 68px;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
}

.portraitAndHero {
  display: flex;
  align-items: center;
  width: 250px;
}

.kda {
}

@media only screen and (max-width: 600px) {
  .preview {
    justify-content: space-between;
  }
}