.preview {
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 6px;
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-inline: 16px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.05);
}

.preview:hover {
  background-color: rgba(255, 255, 255, 0.14);
}

.heroWin,
.heroLose {
  font-size: 18px;
  margin: 4px;
}

.heroWin {
  color: rgba(0, 255, 0, 0.4);
}

.heroLose {
  color: rgba(255, 0, 0, 0.6);
}

.portrait {
  position: relative;
  width: 68px;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
}

.kda {
  position: absolute;
  margin-left: 270px;
}