.title {
  font-weight: 700;
  font-size: 26px;
}

.portrait {
  border-radius: 5px;
  overflow: hidden;
  width: 142px;
  height: 188px;
}
.ability,
.selectedAbility {
  width: 100px;
  height: 100px;
  border-radius: 3px;
  overflow: hidden;
}

.selectedAbility {
  outline: 4px solid #C7A324;
}

.abilities {

}

.hud {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.usages {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 6px;
  padding: 8px;
}

.usagesTitle {
  font-size: 18px;
  font-weight: 700;
}

.usagesEntries {
  margin-top: 5px;
  margin-left: 20px;
  color: #9D9FA0;
  font-size: 18px;
}

.time {
  color: white;
}

.insight {
  color: #C7A324
}

.abilityButton:disabled {
  cursor: default;
  filter: brightness(40%);
}