.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.gold {
  color: gold;
}

.lightgreen {
  color: lightgreen;
}

.analysis {
  padding-top: 20px;
}

.glowing {
  text-shadow: 0 0 5px #ffffff;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 15px));
  grid-gap: 30px 30px;
  align-items: start;
  padding: 0;
}

.analysisTitle {
  text-align: center;
  margin-bottom: 10px;
}

.intelligence {
  color: skyblue;
}

.gray {
  color: gray;
}

.team0 {
  color: green;
}

.Radiant {
  color: green;
}

.team1 {
  color: red;
}

.Dire {
  color: red;
}

.accordionButton {
  justify-content: center;
}

.accordionButton:focus {
  box-shadow:none !important;
}

.accordionItem {
  border: none;
  margin-bottom: 10px;
  border-radius: 8px;
  background: #1A1A1A;
}

.spectralLink:hover {
  color: purple;
  text-shadow: 0 0 5px purple;
}

.spectralLink {
  color: purple;
}